/* 
body{
    background-color:teal;
    background-size: cover;

}
.wrapper{
    text-align: center;
}

.centered{
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    padding: 0 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


#title, #night-text, #number{
    font-family: 'Bad Script', cursive;
    font-size: 10rem;
    letter-spacing: .1rem;
    color: hsl(0, 45%, 94%);
    text-shadow: 0px 0px 1px #ffff, 0px 0px 3px #ffff,
                 0 0 6px #f25757, 0 0 10px #f25757, 0 0 15px #f25757, 
                 0 0 20px #e50b0b, 0 0 25px #e50b0b, 0 0 30px #e50b0b,
                 0 0 35px rgb(231, 58, 58); 
    padding: 0 3.5rem 0 3.5rem;
}
h1{
    line-height: 1;
}
h2{
    color: white;
    font-family: "Lucida Grande";
    text-shadow: 1px 1px 2px black;
}
#title{
    margin-top: 0;
}
#title, #night-text{
    margin-bottom:3%;
    
}
#night-text{
  margin-top: 0;
}

#number{
    display: inline;
    font-family: 'Nanum Pen Script', cursive;
}

#start{
    font-family: 'Bad Script', cursive;
    color: white;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 0px 0px 1px #ffff, 0px 0px 3px #ffff,
    0 0 6px #f25757, 0 0 10px #f25757, 0 0 15px #f25757, 
    0 0 20px #e50b0b, 0 0 25px #e50b0b, 0 0 30px #e50b0b,
    0 0 35px rgb(231, 58, 58); 
    background-color: teal;
    font-size:4rem;
    font-weight: 800;
    text-align: center;
    height: 130px ;
    width: 250px;
    margin-top: 10%;

    box-shadow:
    0 0 0.1vw  0.4vw #fff7f7,   
    0 0 0.4vw  0.6vw #e97272, 
    0 0   4vw  0.4vw #e50b0b,
    inset 0 0 1.5vw  0.4vw #e50b0b,
    inset 0 0 0.4vw  0.2vw #e97272,
    inset 0 0 0.5vw  0.2vw #fff7f7;
    border-radius: 1.5rem; 

}

#start:hover{

    text-shadow: 0px 0px 1px #ffff, 0px 0px 3px lightblue, 0 0 6px #2c4864,0 0 10px #2c4864; 
    box-shadow:
    0 0 0.1vw  0.4vw #fff7f7,   
    0 0 0.4vw  0.6vw lightblue, 
    0 0   4vw  0.4vw #385a7c,
    inset 0 0 1.5vw  0.4vw #385a7c,
    inset 0 0 0.4vw  0.2vw #385a7c,
    inset 0 0 0.5vw  0.2vw #fff7f7;
    transform: scale(1.1);
    background-image: url(buttonback.jpg);
    background-size: cover;
    
}

#title-wrapper{
    box-sizing: border-box;
    padding-top: .5rem;
    box-shadow:
    0 0 0.1vw  0.4vw #fff7f7,   
    0 0 0.4vw  0.6vw #e97272, 
    0 0   4vw  0.3vw #e50b0b,
    inset 0 0 1.5vw  0.2vw #e50b0b,
    inset 0 0 0.4vw  0.2vw #e97272,
    inset 0 0 0.5vw  0.1vw #fff7f7;
    border-radius: 2rem; 
};

.question-box{
    background-color: white;
    color: white;
}

.answer-button{

    width: 350px; 
    height: 150px; 
    margin: 1%; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color:teal; 
    color: white;
    letter-spacing: .1rem;
    text-shadow: 2px, 2px, black;
    border-radius: 20px; 
    border:4px solid rgb(1, 77, 77);
    font-size: 18px;
    font-weight: 600;
    margin-left: 0,0;
    text-shadow: 1px 1px 2px black;
}

.answer-button:hover{
    box-shadow:
    0 0 0.1vw  0.2vw #fff7f7,   
    0 0 0.4vw  0.4vw #e97272, 
    0 0   4vw  0.3vw #e50b0b,
    inset 0 0 1.5vw  0.2vw #e50b0b,
    inset 0 0 0.4vw  0.2vw #e97272,
    inset 0 0 0.5vw  0.1vw #fff7f7;
    border-radius: .5rem; 
    background-image: url(buttonback.jpg);
    background-size: cover;
    color: white
}
    

#counter{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 4rem;
    letter-spacing: 5px;
    color: #ff6f6f; 
    text-shadow: 2px 2px #ffff

}

@media (hover:none), (hover:on-demand) {
     .answer-button:hover{ 
        background: none;
        box-shadow: none;
    }
     #start:hover{ 
        background: none;
        box-shadow: none;
    }

}

@media(max-width: 1000px){

    #title, #night-text, #number{
        font-size: 7rem;
    }

    .answer-button{
        width: 300px; 
        height: 100px; 
        font-size: 16px;

    }

}

@media(max-width: 600px){

    #title, #night-text, #number{
        font-size: 6rem;
    }
    #start{
        font-size: 3rem;
        height: auto;
        width: 220px;
    }

    .answer-button{
        width: 175px; 
        height: 75px; 
        font-size: 10px;

    }

}
 
 */

html{
    max-width: 100%
}
body {
    width:100%;
    overflow-x:hidden;
    font-family: Roboto;
    color: #D8D8D8;
   
}

#title-wrapper{
    margin-top: 70%;
}

input[type="radio"] {
    -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
    -moz-appearance: checkbox;    /* Firefox */
    -ms-appearance: checkbox;     /* not currently supported */
  }

 #container{
     background: url(background.png);
     background-repeat: no-repeat;
    text-align: center;
    position: relative;
    height: 812px;
    max-width: 425px;
    margin: auto;
    padding: 1px;

}

.time-bar{
    margin: 0 auto 12%;
    height: 34px;
    width: 100%;
    background: url(timebar-bg.png);
    background-repeat: no-repeat;
    border-radius: 50px;
}

.color-bar{
    margin: 0;
    opacity: 100%;
    height: 34px;
    background: linear-gradient(90deg, #E57186 32%, #EDD7DE 95%);
    border-radius: 50px;
    width: 0px;
    animation: timer 20s linear;
}

#wrapper{
    width: 100%;
    padding: 0 12%;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    margin-top: -320px;
    height: 640px;
    text-align: center;
}

h2{
    text-align: left;
    font-size: 18px;
    font-weight: 400;
}

h2.question-heading{
margin: 0;
}

.question-number{
    font-size: 24px;
}

.line{
    width:100%;
    text-align: left;
}
.line:after{
    content:".....................................";
    letter-spacing: 4px;
    text-align: left;
}

h2.question{
    width: 90%;
    margin: 10% 0 15% 0;
    font-weight: 400;
    letter-spacing: 1px;
}

.answer-container{
    box-sizing: content-box;
    width: 290px;
    height: 55px;
    margin: 25px auto;
    padding: 0px 5px 0px 15px;
    text-align: left;
    background-image: linear-gradient(90deg, #263A9B 9%, #173192 40%, #243D90 86%);
    border: 1px solid #E7E7F5;
    border-radius: 19px; 
}

label{
    width: 70%;
    font-size: 12px;
    line-height: 55px;
}

input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    margin: 10px;
    float: right;
    height: 25px;
    width: 25px;
    border: 3px solid #eee;
    border-radius: 50%;
  }

  .answer-container:hover input ~ .checkmark {
    background-color: #2196F3;
  }

  .answer-container input:checked ~ .checkmark {
    background-color: #2196F3;
    background-image: url(checkmark.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  #submit ,#start, #next{
    border: none;
    background: radial-gradient(#F5A062,#D57036);
    box-shadow: 0 3px 6px rgba(244,183,148,100);
    border-radius: 22.5px;
    border: none;
    width: 120px;
    height: 45px;
    color: white;
    font-size: 14px;
    font-family: Roboto;
    letter-spacing: 1px;
    margin: 20px;

  }

  #submit:hover {
transform: scale(1.2);
  }

.correct{
    border: 5px solid #3EDBB4;
    box-shadow: 1px 0 10px 0 #38C3A6;
    border-radius: 19px;
}
.incorrect{
    border: 2px solid red
}

@keyframes timer {
    0% {
        width: 5%;
    }
    100% {
        width: 100%;
    }
  }